.nav-item {
    position: relative;
}
.nav-item.selected {
    background-color: rgb(154, 194, 240);
}
.nav-item:hover .texthoverinfo {

display:block;


}
.nav-item .texthoverinfo {
    border-style:solid;
    position: absolute;
    display:none;
    color:black;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(240, 243, 224);
    z-index: 99;
}



